/Universidad/ManejoExpresionesRegulares/nbproject/private/
/Universidad/ManejoExpresionesRegulares/build/
/Universidad/ManejoExpresionesRegulares/dist/
/Universidad/DeberCuatro/nbproject/private/
/Universidad/DeberCuatro/build/
/Universidad/DeberCuatro/dist/